* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

:root {
    --navFont: 'Inter', sans-serif;
    --textFont: 'Mulish', sans-serif;
    --titleFont: 'Playfair Display', serif;
    --greyFoot: #848484;
    --greyText: #7d7987;

}

/* body { */
  /* font-family: 'Inter', sans-serif; */
  /* font-family: 'Mulish', sans-serif; */
  /* font-family: 'Playfair Display', serif; */
/* } */

h1, h2 {
    font-family: var(--titleFont)
}

nav a, select, h3 {
    font-family: var(--navFont)
}

footer {
    font-family: var(--textFont)
}

a {
    color: inherit;
}

footer p, footer a {
    color: var(--greyFoot)
}

.current {
    font-weight: 700;
}

h2 {
    font-size: 2.2rem;
}

main {
    width: 85%;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 85%;
    margin: 0 auto; */
    height: 8vh;
}

nav img {
    height: 5vh;
}

#nav-list {
    display: flex;
    width: 55%;
}

#nav-list li {
    padding: 0 5%;
}

.buttonOrange {
    border: none;
    padding: 1vh 25px;
    background: #FB8F1D;
    color: #fff;
    border-radius: 10px;
    width: min-content;
    font-weight: 700;
}

#header {
    /* background: url("./img/header-explorer.png") right / contain no-repeat; */
    min-height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .title-wrapper {
    display: flex;
    flex-direction: column;

} */
#header h1 {
    font-size: 5rem;
    width: 70%;
}

#header h3 {
    font-size: 2rem;
    padding: 4vh 0;
}

.smallLine {
    border: 1px solid #000;width: 50px;
}

#select-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4vh 0;
    gap: 20px;
}
select {
    /* -moz-appearance: none;
    -webkit-appearance: none; */
    /* appearance: none; */
    padding: 2vh 5%;
    /* margin: 2vh 5%; */
    border: 1px solid #ccc;
    border-radius: 10px;
}

#header img {
    width: 40%;
}
/*** Home Section ***/
#homeSec, #aboutSec {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15vh 0;
}

#homeSec img, #aboutSec img{
    width: 100%;
}

#homeSec article img{
    width: 7%;
    position: absolute;
    top: -30vh;
    left: -30%;
}

#aboutSec article img {
    width: 7%;
    position: absolute;
    top: 35vh;
    left: 110%;
}
#homeSec article, #aboutSec article {
    width: 50%;
    justify-self: center;
    align-self: center;
    position: relative;
}

#homeSec p, #aboutSec p {
    padding: 2em 0;
    line-height: 2em;
}

/**** Destination Section ****/
#destinationSec div{
    display: flex;
    justify-content: space-between;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
/**** Footer ****/
footer {
    background: #F9F9FB;
}

#footer-grid {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr 1fr;
    column-gap: 6%;
    padding: 4vh 0;
}


footer h4, footer p {
    font-size: 1.3rem;
    padding-bottom: 2vh;
}

footer p:first-of-type {
    width: 65%;
    padding: 2vh 0;
    line-height: 4.5vh;
}
footer a {
    font-size: 1.3rem;
    line-height: 5vh;
}
#social-bar {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin: 0 auto;
    padding-bottom: 4vh;
}

.longLine {
    width: 85%;
    margin: 5vh auto;
    border: none;
    border-bottom: 1px solid var(--greyFoot)
}